.device {
  padding: 0 10% 0 0;
  padding-left: 10%;
  user-select: none;
}

.deviceGroup {
  user-select: none;
  padding: 2px 0 2px 0;
}

.container {
  padding: 4px 5% 4px 5%;
}

.deviceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0 4px 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newFolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.newFolderIcon {
  width: 4%;
  height: 4%;
  padding-right: 8px;
}