.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    background-image: url('../../../../images/edit_bg.png');
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.message{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button{
    width: 50px;
    height: 30px;
}