.background {
  background-image: url('../../images/background.png');
  width: 100%;
  height: 100%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: space-evenly;
  min-height: 100px;
  
}

.inputWrapper {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  align-items: center;
}

.input {
  height: 20px;
  width: 150px;
  background-color: #ffc93f;
  border-color: #D8BA68;
  border-width: 1px;
  border-style: solid;
}

.select {
  height: 22px;
  width: 152px;
  background-color: #ffc93f;
  border-color: #D8BA68;
  border-width: 1px;
  border-style: solid;
}

.input:focus{
  box-shadow: 0px 0px 10px 1px;
  border-color: #5892B7;
}

.label {
  padding: 0px 8px 0px 8px;
}

.button {
  background: transparent;
  border: none;
  padding-top: 15%;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 30%;
}

.formWrapper {
  display: flex;
  justify-content: center;
  flex: 40%;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  flex: 30%;
  justify-content: center;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.buttonLogo {
  max-width: 50px;
padding-bottom: 5px;
}

.settingsModal{
  position: absolute;
  top:35%;
  bottom:35%;
  right: 10%;
  left: 10%;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0px;
}