.background {
  background-image: url('../../../../images/settings_bg.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.button {
  background: transparent;
  border: none;
  align-self: center;
  flex: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 8px 0px 8px;
  color: black;
  height: 100%;
}

.inputWrapper {
  display: flex;
  flex: 40%;
  justify-content: center;
  align-items: center;
}

.select {
  flex: 50%;
  max-width: 50%;
  height: 30px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
}

.label {
  padding: 0px 8px 0px 8px;
}