.homeContainer {
  display: flex;
  flex-direction: column;
  background-image: url('../../images/background.png');
  background-size: contain;
  height: 100%;
  color: black;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px 8px 16px 8px;
}

.tabButtons {
  display: flex;
  flex-direction: row;
  padding: 16px 8px 8px 8px;
  justify-content: space-evenly;
}
.tabButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabImage {
  width: 90%;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  padding: 4px 8px 4px 8px;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  width: 7%;
  height: 7%;
  padding: 2 2px 4px 2px;
}

.searchBar {
  flex: 100%;
  background-color: #ffc93f;
  border-style: solid;
  border-color: #b8b4a7;
  padding: 3px;
}

.tabContainer {
  flex: 60%;
  max-height: 60%;
  overflow: auto;
}
