.modal{
  color: black;
  background-image: url('../../../../images/edit_bg.png');
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4px 16px 0px 12px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  padding: 4px 0 4px 0;
  /* justify-content: flex-end; */
  align-items: center;
}

.input {
  height: 20px;
  width: 150px;
  background-color: #ffc93f;
  border-color: #D8BA68;
  border-width: 1px;
  border-style: solid;
}

.input:focus{
  box-shadow: 0px 0px 10px 1px;
  border-color: #5892B7;
}

.label {
  padding: 0px 8px 0px 8px;
}

.title {
  display: flex;
  background-color: #5892B7;
  color: white;
  height: 10%;  
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 8px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  background: transparent;
  border: none;
  align-self: center;
}

.error {
  color: red;
  font-size: 12px;
  align-self: center;
}