.device {
  padding: 0 10% 0 0;
  padding-left: 10%;
  user-select: none;
}

.deviceGroup {
  user-select: none;
  padding: 2px 0 2px 0;
}

.container {
  padding: 4px 5% 4px 5%;
}

.deviceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0 4px 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settingsModal{
  position: absolute;
  top:35%;
  bottom:35%;
  right: 10%;
  left: 10%;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0px;
}
