.wrapper{
  background-image: url('../../images/background.png');
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-size: contain;
}

.logo {
  flex: 30%;
  max-height: 100px;
  padding: 15% 0 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  flex: 30%;
  max-height: 40%;
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: row;
}

.modal{
  position: absolute;
  top:30%;
  /* bottom:30%; */
  right: 10%;
  left: 10%;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0px;
}

.confirmModal{
  position: absolute;
  top:30%;
  bottom:30%;
  right: 10%;
  left: 10%;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0px;
}

.returnWrapper{
  flex: 10%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.returnButton{
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}